<!--Reminder-->
{{#if reminder}}
<div class="alert alert-warning alert-dismissible fade show rounded-0" role="alert">
  {{reminder}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

<!--Warning-->
{{#each warning}}
<div class="alert alert-warning alert-danger fade show rounded-0" role="alert">
  {{#if this.msg}}{{this.msg}}{{else}}{{this}}{{/if}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<!--Success-->
{{#if success}}
<div class="alert alert-success alert-dismissible fade show rounded-0" role="alert">
  {{success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}