<!--Todo list-->
<section id="display-container" class="rounded shadow">
  <div class="rounded position" id="display-panel">
    <h3 class="text-center py-3"><u>Todo List</u></h3>
    <form action="/search" method="get" id="filter-panel" class="mb-1">
      <div class="form-row">
        <div class="dropdown col-4 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="sortDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.sort}}{{filter.sort}}{{else}}Sort{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="sortDropDownMenu">
            <input type="hidden" name="preSort" value="{{filter.sort}}">
            <input type="submit" class="dropdown-item text-muted" name="sort" value="Name">
            <input type="submit" class="dropdown-item text-muted" name="sort" value="Deadline">
            <input type="submit" class="dropdown-item text-muted" name="sort" value="Status">
          </div>
        </div>
        <div class="dropdown col-4 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="dateDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.dueDate}}{{filter.dueDate}}{{else}}Date{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dateDropDownMenu">
            <input type="hidden" name="preDate" value="{{filter.dueDate}}">
            {{#each dateOptions}}
            <input type="submit" class="dropdown-item text-muted" name="date" value="{{this}}">
            {{/each}}
            <div class="dropdown-divider"></div>
            <input type="submit" class="dropdown-item text-muted" name="dateReset" value="Reset">
          </div>
        </div>
        <div class="dropdown col-4 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="statusDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.status}}{{filter.status}}{{else}}Status{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="statusDropDownMenu">
            <input type="hidden" name="preDone" value="{{filter.status}}">
            <input type="submit" class="dropdown-item text-muted" name="done" value="Done">
            <input type="submit" class="dropdown-item text-muted" name="done" value="Undone">
            <div class="dropdown-divider"></div>
            <input type="submit" class="dropdown-item text-muted" name="doneReset" value="Reset">
          </div>
        </div>
      </div>
    </form>
    <div class="todo-list">
      {{#each todos}}
      <div class="row animated bounceInUp">
        <a href="/todos/view/{{this.id}}" class="col-9 d-flex align-items-center">
          <label class="input-container m-0">
            <input type="checkbox" name="done" id="done" {{#if this.done}}checked{{/if}} disabled>
            <span class="checkmark"></span>
            <div class="ml-4 pl-2">
              <h4 class="m-0 p-0">{{this.name}}</h4>
              <small class="d-block">{{this.dataValues.dueDate}}</small>
            </div>
          </label>
        </a>
        <div class="col-3 d-flex align-items-center">
          <a href="/todos/edit/{{this.id}}" class="mr-2"><i class="fas fa-edit"></i></a>
          <button type="button" class="delete-btn" data-toggle="modal" data-target="#d{{this.id}}">
            <i class="fas fa-trash"></i>
          </button>
          <div class="modal fade delete-modal" id="d{{this.id}}" tabindex="-1" role="dialog"
            aria-labelledby="Model for delete warning" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header border-0 pb-1">
                  <h5 class="modal-title" id="exampleModalCenterTitle"><i
                      class="fas fa-exclamation-triangle mr-2 text-danger"></i>Delete Confirmation</h5>
                </div>
                <div class="modal-body">
                  <small>You sure want to delete "{{this.name}}"?</small>
                </div>
                <div class="modal-footer delete-model-btns border-0 pt-1">
                  <button type="button" id="delete-model-back" data-dismiss="modal">Go back</button>
                  <form action="todos/delete/{{this.id}}?_method=DELETE" method="post" class="m-0">
                    <!--CSRF token-->
                    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                    <button type="submit" id="delete-model-delete">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{#if noTask}}
      <div class="row align-items-center justify-content-center text-muted">
        <i class="far fa-smile-beam pr-1"></i>No task here!
      </div>
      {{/if}}
    </div>
  </div>
</section>