<!-- ./views/register.handlebars -->
<div class="card card-body shadow text-dark mt-5 mx-auto p-0 border-0 animated 	bounceIn">
  <h1 class="text-center my-4">
    Register
  </h1>
  <!--Flash message-->
  {{> messages}}

  <form action="/users/register" method="POST" class="mt-1 mb-4 px-3 needs-validation" novalidate>
    <!--CSRF token-->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <!--Form-->
    <div class="form-group form-input position-relative animateField">
      <i class="fas fa-signature"></i>
      <label for="name" class="sr-only">Name</label>
      <input type="name" id="name" name="name" class="form-control" placeholder="Name" minlength="1" maxlength="10"
        value="{{{todoData.name}}}" required />
      <div class="valid-feedback">
        Ready to do!
      </div>
      <div class="invalid-feedback">
        Please fill in a name!
      </div>
    </div>
    <div class="form-group form-input position-relative animateField">
      <i class="far fa-envelope"></i>
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{{todoData.email}}}"
        required />
      <div class="valid-feedback">
        Ready to do!
      </div>
      <div class="invalid-feedback">
        Please fill in a valid email!
      </div>
    </div>
    <div class="form-group form-input position-relative animateField">
      <i class="fas fa-lock"></i>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"
        value="{{{todoData.password}}}" pattern="\S{8,12}" minlength="8" maxlength="12" required />
      <div class="valid-feedback">
        Ready to do!
      </div>
      <div class="invalid-feedback">
        Password length must be between 8-12!
      </div>
    </div>
    <div class="form-group form-input position-relative animateField">
      <i class="fas fa-lock"></i>
      <label for="password2" class="sr-only">Confirm Password</label>
      <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
        value="{{{todoData.password2}}}" pattern="\S{8,12}" minlength="8" maxlength="12" required />
      <div class="valid-feedback">
        Ready to do!
      </div>
      <div class="invalid-feedback">
        Password doesn't match!
      </div>
    </div>
    <button type="submit" class="user-form-btn btn-block btn-orange">Register</button>

    <!--Facebook Login-->
    <div class="separate-line position-relative pt-1">
      <small class="text-muted">or</small>
      <hr>
    </div>
    <div class="form-group p-0">
      <a href="/auth/facebook" class="user-form-btn btn-block btn-facebook-blue text-center"><i
          class="fab fa-facebook-square mr-2 align-middle"></i>Login in with Facebook</a>
    </div>
    <hr>

    <!--Already have an account-->
    <div class="d-flex justify-content-between align-items-center mt-4 ">
      <p class=" m-0 text-muted">Have an account? Log in now!</p>
      <a href="/users/login" class="login-signup-btn flex-grow-1 text-center ml-5">Login</a>
    </div>
  </form>
</div>